.chat__input{
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    background-color: #ebebeb;
}
.input-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.input__emoji{
    height: 20px;
}
form{
    flex: 0.95;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    border-radius: 15px;

}
form input{
    flex: 1;
    padding-right: 15px;
}
form button{
    height: 20px;
}
.input__mic{
    height: 20px;
}